public/downloads/SkyCareer_MSFS_Bridge_Windows.zip filter=lfs diff=lfs merge=lfs -text
public/downloads/*.zip filter=lfs diff=lfs merge=lfs -text
public/models/hangars/hangar_5.glb filter=lfs diff=lfs merge=lfs -text
